@import "utils";

.form {
  @extend %form-with-loader;
}

.iconContainer {
  margin-left: rem-calc(8);
}

.modalTitle {
  @include breakpoint(small down) {
    font-size: rem-calc(16);
  }
}

.previewModal {
  min-width: 80%;
  max-height: 80% !important;
}

.modalOverlay {
  z-index: 10;
}
