@import 'utils';

.clearButton {
  background-color: $c-white;
}

.floatingContainer {
  position: sticky;
  z-index: 2;
  padding-bottom: rem-calc(16);
  background: rgba(255, 255, 255, 0.75);

  @include breakpoint(large) {
    padding: rem-calc(16 0);
    margin-right: rem-calc(48);
  }
}

.savedMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-citrus;
}
