@import "utils";

.slider {

  :global(.rc-slider-track) {
    background: linear-gradient(90deg, $c-citrus 0.66%, $c-sky 100%);
  }

  :global(.rc-slider-handle) {
    top: 0;
    width: rem-calc(24);
    height: rem-calc(24);
    background: $c-citrus no-repeat center center;
    border: none;
    border-radius: 50%;
    transform: translateX(-50%) !important;

    &:active {
      border: none;
    }
  }

  :global(.rc-slider-handle-dragging) {
    border: none !important;
    box-shadow: none !important;
  }
}

.sliderOut {

  :global(.rc-slider-track) {
    background: $c-whisper;
  }

  :global(.rc-slider-rail) {
    background: linear-gradient(90deg, $c-citrus 0.66%, $c-sky 100%);
  }
}
