// triggers
$active: ".is-active";
$disabled: ".is-disabled";
$hidden: ".is-hidden";
$loading: ".is-loading";
$loaded: ".is-loaded";
$invalid: ".is-invalid";
$valid: ".is-valid";
$accent: ".is-accent";
$admin-panel-visible: ".admin-panel-visible";
$has-modal: ".has-modal";
$alert-message-visible: ".alert-message-visible";
