// foundation overrides
$global-font-size: 16px;

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

$grid-container: 90rem;
$grid-margin-gutters: (
  small: 16px,
  medium: 24px,
  large: 24px,
);
$grid-container-padding: (
  small: 32px,
  medium: 128px,
  xlarge: 256px,
);
$breakpoint-classes: (small medium large xlarge xxlarge);

$header-height: --header-height;
$admin-panel-height: --admin-panel-height;
$header-with-alert-height: --header-with-alert-height;
