@import "utils";

.authFormLink {
  @extend %typography-inter-14;
}

.authFormWrapper {
  display: flex;
  justify-content: space-between;
  padding: rem-calc(60) rem-calc(88) rem-calc(60) rem-calc(104);
  border: 1px solid $c-citrus;
  @include breakpoint(large down) {
    padding: rem-calc(40) rem-calc(56);
  }
  @include breakpoint(small down) {
    flex-direction: column;
    padding: rem-calc(40) rem-calc(16);
  }
}

.authFormSimple {
  @extend .authFormWrapper;
  display: block;
  @include breakpoint(medium) {
    padding: rem-calc(40);
  }
}

.authFormInputs {
  @extend %form-with-loader;
  flex-grow: 1;
  @include breakpoint(small down) {
    order: 3;
  }
}

.authFormSocial {
  flex: 1 1 0;
  @include breakpoint(small down) {
    order: 1;
  }
}

.authFormDivider {
  position: relative;
  margin: 0 rem-calc(56);
  @include breakpoint(medium) {
    border-right: 1px dashed $c-light-gray;
  }
  @include breakpoint(small down) {
    order: 2;
    margin: rem-calc(24) 0;
    border-bottom: 1px dashed $c-light-gray;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 1px;
    height: 100px;
    content: "";
    @include breakpoint(small down) {
      width: 100px;
      height: 1px;
    }
  }

  &::before {
    top: 0;
    background: linear-gradient(
      to bottom,
      $c-white 20%,
      rgba(255, 255, 255, 0)
    );
    @include breakpoint(small down) {
      background: linear-gradient(
        to right,
        $c-white 20%,
        rgba(255, 255, 255, 0)
      );
    }
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to top, $c-white 20%, rgba(255, 255, 255, 0));
    @include breakpoint(small down) {
      top: 0;
      right: 0;
      left: auto;
      background: linear-gradient(
        to left,
        $c-white 20%,
        rgba(255, 255, 255, 0)
      );
    }
  }
}

.socialWrapper {
  @extend %form-with-loader;
  position: relative;
  @include with-loader {
    font-size: rem-calc(3);
  }
  @include breakpoint(small down) {
    order: -1;
    text-align: center;
  }
}

.socialButtons {
  @include breakpoint(medium) {
    display: flex;
    flex-direction: column;
  }

  @include breakpoint(small down) {
    margin-right: rem-calc(-8);
    margin-left: rem-calc(-8);
  }
}

.socialButton {
  @include breakpoint(medium) {

    &:not(:last-child) {
      margin-bottom: rem-calc(16);
    }
  }
  @include breakpoint(small down) {
    width: calc(#{percentage(1/3)} - #{rem-calc(16)});
    padding-right: 0;
    padding-left: 0;
    margin-right: rem-calc(8);
    margin-left: rem-calc(8);
  }
}

.presubscribedFormContainer {
  @include breakpoint (large) {
    height: 256px;
  }
}

.presubscribedButton{
  display: flex;
  align-items: center;
  justify-content: center;

  @include icon-styles {
    margin-left: rem-calc(8);
    transform: rotate(180deg);
  }
}

.passwordContainer {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition:
    transform $duration $easing,
    opacity $duration $easing,
    max-height 0.2s $easing;
  transform: scaleY(0);
}

.overlay {
  max-height: 146px;
  visibility: visible;
  opacity: 1;
  transition:
    transform $duration $easing,
    opacity $duration $easing,
    max-height $duration $easing;
  transform: scaleY(1);
  transform-origin: top;
}


