@import 'utils';

.container {
  align-items: center;

  @include breakpoint(medium down) {
    flex-direction:  column-reverse;
  }
}

.storeButtonsContainer {
  display: flex;
  gap: rem-calc(16);
  justify-content: space-between;

  @include breakpoint(large) {
    flex-direction: column;
  }

  @include breakpoint(small down) {
    width: 100%;
  }
}

.descriptionButtons {
  @include breakpoint(small down) {
    display:  none;
  }
}

.storeButton {
  height: rem-calc(72);

  @include breakpoint(medium down) {
    height: rem-calc(56);
  }
}
