@import "utils";

.navigationWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint(small down) {
    flex-direction: column;
  }
}

.navLink {
  position: relative;
  display: block;
  padding-bottom: rem-calc(8);
  color: $c-semidark-chocolate;
  text-decoration: none;
  @extend %typography-inter-12-caps;

  &:after {
    position: absolute;
    bottom: rem-calc(-2);
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: transparent;
  }

  @include active() {
    color: $c-citrus;

    &:after {
      background: $c-citrus;
    }
  }
}
