@import "utils";

.profileStatusInfo {
  @extend %typography-inter-12-bold-caps;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: $c-gray;
}

.whiteButton {
  background-color: $c-white;
}

.publicProfileHeading {
  overflow-wrap: break-word;
}
