@import "utils";

@mixin withContainerHover {

  .actionsContainer:hover & {
    @content;
  }
}

.actionsContainer {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid $c-transparent;
  transition: color $duration $easing;

  &:hover {
    z-index: 1;
    color: $c-citrus;
  }
}

.actionsList {
  position: absolute;
  top: 100%;
  right: 0;
  visibility: hidden;
  background-color: $c-white;
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 transparentize($c-light-gray, 0.5);
  opacity: 0;
  transition: opacity $duration $easing, visibility 0s $duration,
    transform $duration $easing;
  transform: translateY(10px);

  @include withContainerHover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    transform: none;
  }
}

.actionsListItem {
  opacity: 0;
  transition: transform $duration $easing, opacity $duration $easing;
  transform: translateY(-10px);

  @include withContainerHover {
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transition-delay: #{$i/10}s;
      }
    }

    opacity: 1;
    transform: none;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $c-light-peach;
  }
}

.actionItem {
  @extend %typography-inter-14;
  @extend %button-reset;
  display: flex;
  width: 100%;
  padding: rem-calc(8 16);
  color: $c-gray;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
  transition: color $duration $easing;

  span {
    transition: transform $duration $easing;
  }

  &:hover {
    color: $c-semidark-chocolate;

    span {
      transform: translateX(#{rem-calc(4)});
    }
  }
}
