@import "utils";

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: rem-calc(24);
}

.tag {
  display: flex;
  align-items: center;
  padding: rem-calc(8 16);
  margin-right: rem-calc(8);
  margin-bottom: rem-calc(8);
  color: $c-semidark-chocolate;
  background-color: $c-light-peach;
  border-radius: rem-calc(4);
}

.link {
  @extend %button-reset;
}
