@import "utils";

.heading {
  display: grid;
  grid-template-areas: "company details . status";
  grid-template-columns: 35% 1fr 1fr 15%;
  justify-items: flex-start;
  padding: rem-calc(0 24);
  color: $c-semidark-chocolate;

  @include breakpoint(medium down) {
    grid-template-areas: "company details status";
    grid-template-columns: 40% 1fr 15%;
  }

  @include breakpoint(small down) {
    display: none;
  }
}

.company {
  grid-area: company;
}

.details {
  grid-area: details;
}

.status {
  grid-area: status;
}
