@import "utils";

.button {
  @extend %button-base;

  &:global(.wide) {
    width: 100%;
  }
}

.primary {
  @extend .button;
  #{$c-button-text}: $c-white;
  #{$c-button-background}: $c-citrus;

  &:hover {
    #{$c-button-background}: $c-button-accent;
  }
  @include disabled {
    #{$c-button-background}: $c-peach;
  }
}

.secondary {
  @extend .button;
  #{$c-button-text}: $c-citrus;
  #{$c-button-border}: $c-current;

  &:hover {
    #{$c-button-text}: $c-button-accent;
    #{$c-button-background}: #ffefeb;
  }
  @include disabled {
    #{$c-button-text}: $c-peach;

    &:hover {
      #{$c-button-background}: $c-white;
    }
  }
}

.transparent {
  @extend .button;
  #{$c-button-text}: $c-gray;
}

.borderless {
  @extend .button;
  #{$c-button-text}: $c-citrus;

  &:hover {
    #{$c-button-background}: #ffefeb;
  }

  &:focus {
    #{$c-button-text}: #cf4c2d;
  }
}

.icon-only {
  @extend %button-reset;
}

.small {
  padding: rem-calc(8 12);
}

.tiny {
  padding: rem-calc(8 8);
}

.smallWide {
  padding: rem-calc(8 32);
}

.largeWide {
  padding: rem-calc(16 8);
}
