@import "utils";

.hintContainer {
  padding: rem-calc(16);
  background-color: $c-light-peach;
  border-radius: 4px;

  @include icon-styles {
    width: 34px;
    height: 34px;
  }
}

.textContainer {
  display: flex;
  align-items: center;
}
