@import 'utils';

.password {
  padding-right: rem-calc(54);
}

.visibilityToggler {
  @include visually-hidden;
}

.visibilityTogglerLabel {
  position: absolute;
  top: 50%;
  right: rem-calc(20);
  color: $c-gray;
  cursor: pointer;
  transform: translateY(-50%);
}
